Part 1 – Implement Basic Data Structures using Numpy, Pandas
1. Lists
2. Arrays
3. Identify their type using type()
4. Perform mathematical operations on these datasets created - multiplication, division,
poweroff
5. Combine text with Numpy fuction to generate a textual output - ”Addition of Two:
array1 +array 2
6. Implement np.sin(), log(), log2(), np.exp())

In [1]:
import numpy as np
list1=[1,2,3,4,5]
array1=np.array(list1)
array1

array([1, 2, 3, 4, 5])

In [3]:
type(list1)

list

In [4]:
type(array1)

numpy.ndarray

Performing Mathematical Operations

In [12]:
print("Multiplication : " , list1*array1)
print("division : " , list1/array1)
print("Exponent : " , list1**array1)

Multiplication :  [ 1  4  9 16 25]
division :  [1. 1. 1. 1. 1.]
Exponent :  [   1    4   27  256 3125]

Combining text with Numpy fuction to generate a textual output - ”Addition of Two: array1 +array 2

In [16]:
print("Addition of Two : array1 and list1 :- " , array1+list1)

Addition of Two : array1 and list1 :-  [ 2  4  6  8 10]

Implementaion of np.sin(), log(), log2(), np.exp()

In [24]:
print("Sin values for array 1 : " ,np.sin(array1))
print("log tp the base 10 valus of array 1 : ",np.log(array1))
print("log to the base 2 values of array 1 : " ,np.log2(array1))
print("exponetial values of array 1 : ",np.exp(array1))

Sin values for array 1 :  [ 0.84147098  0.90929743  0.14112001 -0.7568025  -0.95892427]
log tp the base 10 valus of array 1 :  [0.         0.69314718 1.09861229 1.38629436 1.60943791]
log to the base 2 values of array 1 :  [0.         1.         1.5849625  2.         2.32192809]
exponetial values of array 1 :  [  2.71828183   7.3890561   20.08553692  54.59815003 148.4131591 ]